DB_HOST=localhost
DB_NAME=zela_db
DB_USERNAME=postgres
DB_PASSWORD=postgres
CLOUDFLARE_R2_ENDPOINT=https://<SUA_ACCOUNT_ID>.r2.cloudflarestorage.com
CLOUDFLARE_R2_ACCESS_KEY=<SUA_ACCESS_KEY>
CLOUDFLARE_R2_SECRET_KEY=<SUA_SECRET_KEY>
CLOUDFLARE_R2_BUCKET_NAME=zela-fotos
CLOUDFLARE_R2_PUBLIC_URL=https://pub-xxx.r2.dev
JWT_SECRET=super_secret_key_zela_severiano_api_2026